---
layout: page
---
<p class="page-detail">Click on thumbnail to view gallery</p>
<div class="album-list">
  {% capture categoryslug %}{{ page.title | slugify }}{% endcapture %}
  {% for post in site.categories.[categoryslug] %}
  <a href="{{ post.url }}" class="album">
      <h2 class="album-title">{{ post.title }}</h2>
      {% capture imagelocation %}images/{{ post.slug }}{% endcapture %}
      {% for file in site.static_files %}
        {% if file.path contains imagelocation %}
          <img src="{{ file.path }}" alt="">
          {% break %}
        {% endif %}
      {% endfor %}
  </a>
  {% endfor %}
</div>
