---
layout: page
---
<p class="page-detail">Click on thumbnail to view gallery</p>
<div class="gallery-list">
{% capture imagelocation %}images/{{ page.title | slugify }}{% endcapture %}
{% for file in site.static_files %}
  {% if file.path contains imagelocation %}
      <a href="{{ file.path }}" class="gallery-item" target="_blank">
          <img src="{{ file.path }}" alt="">
      </a>
  {% endif %}
{% endfor %}
</div>
<div class="page-nav">
  <a href="/{{ page.category }}.html">&LT; Back</a>
</div>
