---
layout: default
---
<section class="lightbox-content">
  <a href="../" class="back-link">&LT; BACK</a>
  <a href="#" class="big-arrow" onClick="show('prev')">&LT;</a>
  <div class="lightbox-images">
  {% capture imagelocation %}images/{{ page.slug }}/full-size{% endcapture %}
  {% for file in site.static_files %}
    {% if file.path contains imagelocation %}
      <img src="{{ file.path }}" alt="">
    {% endif %}
  {% endfor %}
  </div>
  <a href="#" class="big-arrow" onClick="show('next')">&GT;</a>
</section>
<script>
  var images = document.getElementsByClassName("lightbox-images")[0].getElementsByTagName('img');
  var length = images.length;
  var currentNum = 0;
  function show(action){
    images[currentNum].style.display = "none";
    if(action === "prev"){
      currentNum--;
    }
    if(action === "next"){
      currentNum++;
    }
    if(currentNum > length-1){
      currentNum = 0;
    }
    if(currentNum<0){
      currentNum = length-1;
    }
    images[currentNum].style.display="block";
  }
</script>
